body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace
}
.navbar img{
    width: 35px;
    height: 35px;
    padding-right: 20px;
}
.navbar{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-shadow: 0px 5px 10px 0px #000000;
  position: fixed;
  width: 100%;
  background: #000000;
  color: #000;
  height: 50px;
  display: flex;
  height: 64px;
  align-items: center;
}
.free-trial, .account{
    font-size: 0.9em;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
}
.navbar .logo{
    padding-top: 10px;
    color:white;
}
.nav-items li{
padding-left:10px;
font-size: 0.7em;
}

.nav-items{
    display: flex;
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.nav-items a {
    text-decoration: none;
    color: white;
    justify-content: space-between; 
    padding-left: 10px;
    font-weight: 500;
  }
 .menu{
    display:flex;
    flex-direction: row;
    margin-left: 10px;
  }
#urban{
    background: yellow;
    color: black;
}
.big-text{
    font-size: 35px;
    line-height: 0.5;
    padding-left: 50px;
}
.middle{
    padding-top: 100px;
}
.middle img{
    height: 400px;
    width: 300px;
    border-radius: 25px;
    float: right;
    margin-right: 250px;
}
.fa-space{
    display: flex;
    flex-direction: row;
    padding-left: 210px;
}
.description{
    line-height: 0.5;
    padding-left: 50px;

}
.button{
    display: flex;
    flex-direction: row;
}
.start {
    border: 1px solid white;
    border-radius: 25px;
    padding: 3px 5px 5px 5px;
    margin-left: 50px;
    background-color: lightyellow;
    color: black;
}
.work{
    border: 1px solid white;
    border-radius: 25px;
    padding: 3px 5px 5px 5px;
    margin-left: 60px;
}
.footer{
    background-color: white;
}

